body {
  font-family: sans-serif;
}


.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.selected-team {
  box-shadow: goldenrod 0px 1px 10px;
}